Flask==2.2.3
Flask-CORS==3.0.10
pandas==1.5.3
pymongo==4.3.3
joblib==1.2.0
pip install itsdangerous
pip install Flask-Mail
python -m pip install Flask-Mail
python -m pip install python-dotenv
python -m pip install PyJWT
python -m  pip uninstall scikit-learn 
# python -m pip install scikit-learn==1.4.0  --only-binary=scikit-learn